/*----------TABLET LANDSCAPE----------*/
@media only screen and (max-width: 1199px) {


}

/*----------TABLET PORTRAIT----------*/
@media only screen and (max-width: 1023px) {
  .nav {
    padding: 130px 0px 0px 0px;
    font-size: 24px;
  }

  .links {
    padding: 180px 0px 0px 0px;
  }

  .newsletter {
    padding: 50px 0px 0px 0px;
  }

  .social {
    padding: 15px 0px 20px 0px;
  }

  .links,
  .newsletter,
  .social {
    font-size: 12px;
  }
}

/*----------PHONES----------*/
@media only screen and (max-width: 767px) {
  .mobile-header {
    padding: 0px 0px 0px 0px;
    margin: 15px 0px;
  }

  .nav {
    padding: 25px 0px 0px 0px;
    font-size: 16px;
  }

  .links {
    padding: 25px 0px 0px 0px;
  }

  .newsletter {
    padding: 17px 0px 0px 0px;
  }

  .social {
    padding: 10px 0px 12px 0px;
  }

  .links,
  .newsletter,
  .social {
    font-size: 12px;
  }
    
}

