
@media only screen and (max-width: 1440px) {

  body {
    padding-top: 0;
  }

  .container {
    max-width: none;
    width: 100%;
    padding: 0 25px;
  }

  .half-row {
    padding-right: 0;
    padding-left: 31px;
  }

  h2 {
    font-size: 24px;
  }

  .first-box h2 {
    font-size: 28px;
  }

  .first-box {
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #inside-first-box {
    width: 63%;
  }

  .second-box {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0 0 30px 0;
  }

  #inside-second-box {
    width: 43.75%;
    margin-left: 22px;
  }

  .third-box {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }

  #inside-third-box {
    width: 43.75%;
    margin-right: 18px;
  }

  .fourth-box {
    height: 340px;
    margin: 30px 30px 30px 0;
  }

  .fifth-box {
    height: 340px;
    margin: 30px 30px 30px 0;
  }

  .sixth-box {
    height: 340px;
    margin: 30px 0 30px 0;
  }

  .sixth-box h2 {
    width: 80%;
  }

  /* --------- FOOTERS ---------- */

  #hr-line {
    display: none;
  }

  .footers-line {
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .list-unstyled li a {
    font-size: 50%;
    justify-content: flex-end;
  }

  .copyright {
    font-size: 50%;
    justify-content: flex-start;
  }
  

}




@media only screen and (max-width: 1024px) {

  body {
    padding-top: 0;
  }

  .container {
    max-width: none;
    width: 100%;
    padding: 0 30px;
  }

  .half-row {
    padding-right: 0;
    padding-left: 31px;
  }

  h2 {
    font-size: 120%;
  }

  .first-box h2 {
    font-size: 140%;
  }

  .first-box {
    height: 392px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  #inside-first-box {
    width: 52%;
  }

  .second-box {
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin: 0 0 30px 0;
  }

  #inside-second-box {
    width: 43.75%;
    margin-left: 22px;
  }

  .third-box {
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }

  #inside-third-box {
    width: 43.75%;
    margin-right: 18px;
  }

  .fourth-box {
    height: 284px;
    margin: 30px 30px 30px 0;
  }

  .fifth-box {
    height: 284px;
    margin: 30px 30px 30px 0;
  }

  .sixth-box {
    height: 284px;
    margin: 30px 0 30px 0;
  }

  .sixth-box h2 {
    width: 80%;
  }

  /* --------- FOOTERS ---------- */

  #hr-line {
    display: block;
    margin: 0;
  }

  .footers-line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .list-unstyled li a {
    font-size: 50%;
    justify-content: flex-end;
  }

  .copyright {
    font-size: 50%;
    justify-content: flex-start;
  }
}







@media only screen and (max-width: 768px) {

  body {
    padding-top: 0;
  }

  .container {
    max-width: none;
    width: 100%;
    padding: 0 0;
  }

  .half-row {
    padding-right: 0;
    padding-left: 0;
  }

  h2 {
    font-size: 20px;
  }

  .first-box h2 {
    font-size: 24px;
  }

  .first-box {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px #fff;
  }

  .second-box {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    border: solid 1px #fff;
  }

  #inside-second-box {
    width: 43.75%;
    margin-left: 22px;
  }

  .third-box {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    border: solid 1px #fff;
  }

  #inside-third-box {
    width: 43.75%;
    margin-right: 18px;
  }

  .fourth-box {
    height: 284px;
    margin: 0 0 0 0;
    border: solid 1px #fff;
  }

  .fifth-box {
    height: 284px;
    margin: 0 0 0 0;
    border: solid 1px #fff;
  }

  .sixth-box {
    height: 284px;
    margin: 0 0 0 0;
    border: solid 1px #fff;
  }

  .sixth-box h2 {
    width: 80%;
  }

  /* --------- FOOTERS ---------- */

  #hr-line {
    display: block;
    margin: 12px 0 10px 0;
  }

  .footers-line {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .list-unstyled li a {
    font-size: 10px;
    justify-content: flex-end;
  }

  .copyright {
    font-size: 10px;
    justify-content: flex-start;
  }
  
}









@media only screen and (max-width: 575px) {

  body {
    padding-top: 13px;
  }

  .container {
    max-width: none;
    width: 100%;
    padding: 0 0;
  }

  /* --------- BOXES ---------- */

  h2 {
    font-size: 24px;
  }

  .half-row {
    padding-right: 0;
    padding-left: 0;
  }

  #inside-second-box h2,
  #inside-third-box h2 {
    font-size: 20px;
  }

  .first-box {
    height: 228px;
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .first-box h2 {
    margin-right: auto;
    margin-left: auto;
    width: 76%;
    font-size: 24px;
  }

  .second-box {
    height: 151px;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  #inside-second-box {
    width: 43.75%;
    margin-left: 27px;
  }

  .third-box {
    height: 151px;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
  }

  #inside-third-box {
    width: 43.75%;
    margin-right: 23px;
  }

  .fourth-box,
  .fifth-box,
  .sixth-box {
    height: 297px;
    margin: 0 0 0 0;
  }

  .back-to-top {
    height: 85px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  /* --------- FOOTERS ---------- */

  .footers-line {
    display: block;
    text-align: center;
  }

  .list-unstyled li a {
    font-size: 55%;
  }

  .copyright {
    font-size: 50%;
  }
}
