* {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}


/* .row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 10px 0px;
} */

html,
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 20px;
  padding-top: 40px;
  height: 100vh;
}

h2 {
  font-weight: 100;
}


/* -------------------------- */
/*---------NAVBAR------------- */
/* -------------------------- */

.navbar-back {
  background-color: #fff;
}

/* -------------------------- */
/*---------BOXES------------- */
/* -------------------------- */

.first-box {
  background-color: #999;
}

#inside-first-box {
  width: 76%;
  color: #fff;
}

#inside-first-box button {
  background-color: #999;
  border: solid 1px #ffffff;
  color: #fff;
  font-size: 50%;
}

.second-box {
  background-color: #c8a985;
  height: 50%;
  width: 100%;
}

#inside-second-box {
  width: 60%;
  color: white;
  font-size: 120%;
}

#inside-second-box button {
  border: solid 1px #ffffff;
  color: #fff;
  background-color: #c8a985;
  font-size: 50%;
}

.third-box {
  background-color: #f0e3cc;
  height: 50%;
  width: 100%;
}

#inside-third-box {
  width: 60%;
  color: white;
  font-size: 120%;
}

#inside-third-box button {
  border: solid 1px #ffffff;
  color: #fff;
  background-color: #f0e3cc;
  font-size: 50%;
}

.fourth-box {
  background-color: #ccc;
}

.fifth-box {
  background-color: #f2f2f2;
}

.sixth-box {
  background-color: #ccc;
} 

/* --------------------------- */
/* ----------FOOTER----------- */
/* --------------------------- */

.list-unstyled li {
  display: inline-block;
  margin-right: 5px;
}

.list-unstyled li a {
  color: #c8a985;
}
