* {
  margin: 0;
  padding: 0;
}

.no-padding {
  padding: 0;
}

/* .row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  padding: 10px 0px;
} */

html,
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  font-size: 20px;
  padding-top: 40px;
  height: 100vh;
}

h2 {
  font-weight: 100;
}

/* -------------------------- */
/* --------NAVBAR------------ */
/* -------------------------- */

.navbar-back {
  background-color: #fff;
}

/* -------------------------- */
/*---------BOXES------------- */
/* -------------------------- */

.first-box {
  background-color: #999;
  color: #fff;
}

.first-box button {
  background-color: #999;
  border: solid 1px #ffffff;
  color: #fff;
  font-size: 50%;
}

.second-box {
  background-color: #c8a985;
  height: 50%;
  width: 100%;
  color: #fff;
}

#inside-second-box button {
  border: solid 1px #ffffff;
  color: #fff;
  background-color: #c8a985;
  font-size: 50%;
}

.third-box {
  background-color: #f0e3cc;
  height: 50%;
  
  color: #fff;
}

#inside-third-box button {
  border: solid 1px #ffffff;
  color: #fff;
  background-color: #f0e3cc;
  font-size: 50%;
}

.fourth-box {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.fifth-box {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.sixth-box {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.fourth-box h2,
.fifth-box h2,
.sixth-box h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* --------------------------- */
/* ----------FOOTER----------- */
/* --------------------------- */

.list-unstyled li {
  display: inline-block;
  margin-right: 5px;
}

.list-unstyled li a {
  color: #c8a985;
}
